.main-container {
  width: 100%;
}

/* navigation */
.navigation {
  background-color: #AB2A19;
  display: flex;
  margin-bottom: 10px;
}

.header-container {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  margin: 30px 0px 20px 0px;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.header-text {
  font-size: 1.7rem;
}

.text {
  font-size: 30px;
  color: white;
  font-weight: 700;
}

.border-radius {
  border-radius: 3px;
}

/* top level dimensions */
.main-content-container {
  display: flex;
}

.main-center-container {
  width: 50%;
}

.main-left-empty {
  width: 25%;
}

.main-right-empty {
  width: 25%;
}

@media (min-width: 414px) {
  /* top level dimensions */
  .main-center-container {
    width: 40%;
  }
  
  .main-left-empty {
    width: 30%;
  }
  
  .main-right-empty {
    width: 30%;
  }
}